<div class="donations_title">
  <p>footpostへの寄付をお願いいたします</p>
</div>


<div class="donations_contents">
  <p>今週は皆様にお知らせがあります。footpostへの援助をお願いいたします。 私たちは独立性を守るため、一切の広告を掲載致しません。 平均約¥1,500の寄付で運営しております。 援助をして下さる読者はほんの少数です。 お願い致します。 今日、読者の皆様が¥700ご援助下されば、寄付の募集は一時間で終了です。 footpostを活用しておられるのでしたら、広告掲載せずにさらに1年活動できるよう、どうか1分の時間をお取り下さい。 私たちは小さな非営利組織ですが、サーバー、プログラム、人件費など、世界でトップクラスのウェブサイト同様のコストがかかります。 利用者は何百万人もいますが、他の大きなサイトに比べほんの少額の費用で運営しているのです。 ウィキペディアは特別です。誰でも活用できる図書館や公園のようです。 footpostは、世界中の知識の相互活用に情熱を抱くボランティア達によって書かれています。 募金活動を終了し、footpost改善の活動に戻れるようご援助ください。 宜しくお願い致します。</p>
</div>


<div class="donations_btn">
  <script src="https://checkout.webpay.jp/v1/" class="webpay-button" data-key="<%= WEBPAY_PUBLIC_KEY %>"></script>
</div>