<div id="form">
    <p class="form-title">足もとの好みを登録</p>
    <form action="post">
        <p>好きな靴のブランド</p>
        <p class="field"><input type="email" name="mail" /></p>
        <p>好きな靴のタイプ</p>
        <p class="field"><input type="password" name="pass" /></p>
        <p>今欲しい靴の型番</p>
        <p class="field"><input type="email" name="mail" /></p>
        <p>好きな色</p>
        <p class="field"><input type="password" name="pass" /></p>
        <p class="field"><input type="submit" value="好みを登録" /></p>
    </form>
</div>