<div class="contents row">
  <div class="content_post_solo">
    <div class="k_comments">
      <div class="success">
        <h3>
          足元の投稿が完了しました。
        </h3>
        <a class="btn" href="/">投稿一覧へ戻る</a>
      </div>
    </div>
  </div>
</div>