<div class="contents row" >
  <% @posts.each do |post| %>
    <p><%= post.name %></p>
    <p><%= post.text %></p>
    <p><%= post.user_id %></p>
    <p><a href= "<%= post.image %>">画像に飛びます</a></p>
  <% end %>
</div>